@import '../../constants/colors.scss';
@import '../../constants/breakpoints.scss';
@import '../../constants/dimensions.scss';

.projects {
  background-color: $darkGray;
  padding: 48px 32px 32px;
  border-radius: 8px;
}

.title {
  position: relative;
  margin-bottom: 48px;

  &:before {
    color: $purple;
    content: "#";
  }

  &:after {
    content: "";
    width: 40%;
    position: absolute;
    right: 0;
    top: 50%;
    border: 1px solid $purple;
    border-left: 0;
    border-right: 0;
  }
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, $projectCardWidth);
  gap: 32px;
  justify-content: center;
  justify-items: center;
  align-items: start;

  @include rwd($laptop) {
    justify-content: space-between;
  }
}