@import "../../constants/breakpoints.scss";
@import "../../constants/dimensions.scss";

.wrapper {
  width: $projectCardWidth;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  overflow: hidden;
}

.imageWrapper {
  overflow: hidden;
}

.image {
  display: block;
  height: 200px;
  object-fit: cover;
  width: 100%;
  transition: 0.2s;

  &:hover {
    transition: 0.2s;
    transform: scale(1.1);
    object-fit: cover;
    filter: brightness(85%);
  }
}

.tags {
  border: var(--border);
  padding: 8px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.info {
  padding: 16px;
}

.title {
  font-size: 20px;
  line-height: 28px;

  @include rwd($tablet) {
    font-size: 24px;
    line-height: 32px;
  }
}

.description {
  padding: 24px 0;
}

.linkButton {
  font-size: 16px;
  line-height: 24px;
  border: var(--border-purple);
  color: var(--color-white);
  padding: 8px 20px;
  margin-right: 8px;
  border-radius: 4px;
  transition: 0.1s;

  &:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
    transition: 0.4s;
    border: var(--border-purple);
  }
}
