.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  background-color: var(--color-gray-2);
  padding: 12px 32px;
  border-radius: 8px;
  color: var(--color-white);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.icon {
  fill: var(--color-white);
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    fill: var(--color-gray-1);
    transition: 0.2s;
  }
}

.iconLink {
  display: flex;
}
