@import './constants/colors.scss';

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $darkGray;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: 0.2s;
}

body {
  background: $black;
  // background-image: url('./../public/glitch.gif');
  // background: #282C33;
  font-family: 'Fira code';
}

.wrapper {
  width: 83%;
  margin: 0 auto;
}

h1 {
  color: $white;
  font-size: 30px;
  line-height: 36px;
}

p {
  color: $gray;
  font-size: 16px;
  line-height: 24px;
}

button {
  border: solid 1px $purple;
  padding: 8px 20px;
  color: $white;
  font-size: 16px;
  line-height: 24px;
}

.link,
.current {
  color: $gray;
  margin: 0px 16px;

  &:before {
    color: $purple;
    content: '#';
  }
}

.current {
  color: $white;
}