* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #20242b;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
  transition: 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: 0.2s;
}

body {
  background: #0a0a0a;
  // background-image: url('./../public/glitch.gif');
  // background: #282C33;
  font-family: 'Fira code';
}

.wrapper {
  width: 83%;
  margin: 0 auto;
}

h1 {
  color: white;
  font-size: 30px;
  line-height: 36px;
}

p {
  color: rgb(171 178 191);
  font-size: 16px;
  line-height: 24px;
}

button {
  border: solid 1px rgb(199 120 221);
  padding: 8px 20px;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.link,
.current {
  color: rgb(171 178 191);
  margin: 0px 16px;

  &:before {
    color: rgb(199 120 221);
    content: '#';
  }
}

.current {
  color: white;
}