@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

body {
  background: #282C33;
  font-family: 'Fira code';
}

.wrapper {
  @apply w-5/6 xl:w-4/6;
  
  margin: 0 auto;
}

h1 {
  @apply text-2xl sm:text-3xl text-white;
}

p {
  @apply text-base text-gray;
}

button {
  @apply border text-base text-white border-purple py-1 px-4;
}

.link,
.current {
  @apply text-gray mx-4;

  &:before {
    @apply text-purple;

    content: '#';
  }
}

.current {
  @apply text-white;
}

.section-title {
  @apply py-12 relative;
  
  &:before {
    @apply text-purple;

    content: '#';
  }

  &:after {
    @apply border border-purple border-x-0;

    content: '';
    width: 40%;
    position: absolute;
    right: 0;
    top: 50%;
  }
}